@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");


*
{
  color: #52575c;
  font-weight: 300;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body
{
  line-height: 1.75em;
  font-size: 14pt;
}

 
 
/* Container */

.container {
  margin: 0 auto;
  max-width: 100%;
   
}

/* Logo */

#logo {
  display: inline-block;
  padding: 0 40px;
}

  #logo h1 {
    background: #ff4486;
    color: #fff;
    border-radius: 6px;
    font-family: 'Oleo Script', serif;
    font-weight: 400;
    padding: 0.25em 0.2em 0.25em 0.2em;
    font-size: 3.25em;
    letter-spacing: 0.05em;
    display: inline-block;
    vertical-align: middle;
  }

  #logo span {
    font-weight: 800;
    line-height: 4.5em;
    letter-spacing: 0.025em;
    font-size: 0.9em;
    vertical-align: middle;
    margin: 0 0 0 1.25em;
  }

/* Nav */

#nav {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.9em;
  padding-right: 1rem;
}

#nav ul {
  list-style: none;
  padding-left: 0;
}

  #nav ul li {
    float: left;
    line-height: 4.5em;
    padding-left: 1.5em;
  }

    #nav ul li a, #nav ul li span {
    
      font-weight: 800;
      letter-spacing: 0.025em;
      color: #696969;
      text-decoration: none;
      border-radius: 6px;
      padding: 0.5em 1em 0.5em 1em;
    }

    #nav ul li > ul {
      display: none;
    }

    #nav ul li:hover a, #nav ul li:hover span {
      background: #fff;
    }

    #nav ul li.active a, #nav ul li.active span {
      background: #fff;
    }

    #nav ul li.current a {
      background: #444;
      color: #fff;
    }
/** nav end **/
     
header
{ 
 padding: 20px 0;
 border-radius: 5px;
 height: 80vh; 
 background-image: url(../images/1.jpg) ;
}

.hero--text {
  position: absolute;
  left: 0%;
  top: 40%;
  text-align: center;
  width: 100%;
}
section,
aside
{
  
  border-radius: 5px;
}

h1
{
  margin: 0;
}


aside
{
  width: 28%;
  padding: 30px 50px;
  float: right;  
}
.sidebar > h3 {
  margin: unset;
  font-size: 1.5em;
  line-height: 1.5em;
}
#sidebar {
  border-top: solid 1px #d2d7dc;
  margin-top: 3em;
  padding-top: 3em;
}
section
{
  float: left;
  width: 70%;
 
}

section header,
section article
{
  width: 100%;
  border-radius: 5px;
  margin: 0;
  padding: 30px 50px;
  
}


section article
{
  margin: 0;
}
section article > h2
{
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 2em;
  line-height: 1.25em;
}

section article > .heading {
  display: block;
  color: #f35858;
  padding: 0 0 1em 0;
  font-size: 1.5em;
  line-height: 1.5em;
}

header
{
  clear: both;
}

ul.actions {
    padding-top: 1em;
    list-style: none;
    padding-left: 0;
}
.button {
  display: inline-block;
  color: inherit;
  background: none;
  text-decoration: none;
  border: solid 1px #c2c7cc;
  border-radius: 0.35em;
  padding: 0.8em 2em 0.8em 2em;
  cursor: pointer;
  outline: 0;
}
.image img {
  display: block;
  width: 100%;
}

.image.featured {
  display: block;
  width: 100%;
  margin: 0 0 1.5em 0;
}

footer
{
  text-align: center;
  background-color: #eee;
  border-radius: 5px;
 
}

footer
{
  width: 100%;
  padding: 50px;
}

footer
{
  clear: both;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

@media only screen and (max-width: 768px) {
  section {
    width:100%;
  }
  aside {
    width:100%;
  }
}